
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.signup-container {
  min-height: 100vh;
  background: rgb(112, 178, 164); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.signup-card {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


.signup-title {
  text-align: center;
  color: #0f766e; 
  font-size: 2rem;
  margin-bottom: 6px;
}


.signup-subtitle {
  text-align: center;
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 24px;
}

/* Form */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.signup-form label {
  font-size: 0.85rem;
  color: #333;
}

.signup-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
}

.signup-form input:focus {
  outline: none;
  border-color: #0f766e;
}


.signup-form button {
  margin-top: 10px;
  padding: 12px;
  background-color: #58cea5; 
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-form button:hover {
  background-color: #115e59;
}


.signup-footer {
  margin-top: 20px;
  font-size: 0.75rem;
  color: #777;
  text-align: center;
}
.input-error {
  color: #dc2626;
  font-size: 0.75rem;
  margin-top: -6px;
}


.phone-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.phone-prefix {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 12px;
  background-color: #f2f2f2;
  border-right: 1px solid #262626;
  font-size: 14px;
  color: #262626;
}

.flag-icon {
  width: 29px;
  height: 20px;
  object-fit: cover;
  border-radius: 2px;
}

.phone-input-wrapper input {
  border: none;
  padding: 10px;
  flex: 1;
  outline: none;
}




@media (max-width: 480px) {
  .signup-card {
    padding: 24px;
  }

  .signup-title {
    font-size: 1.6rem;
  }
}
